{% extends 'main.html' %}
{% load static %}
{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1>User List</h1>
      </div>
    </div>
    <hr/>
    {% if form.errors %}
      <div class="row">
        {{ form.errors }}
      </div>
    {% endif %}
    <form method="post">
      <div class="row">
        {% csrf_token %}
        <div class="col-12 col-md-3 mt-2 mt-md-auto">{{ form.email }}</div>
        <div class="col-12 col-md-3 mt-2 mt-md-auto">{{ form.password }}</div>
        <div class="col-12 col-md-3 mt-2 mt-md-auto">{{ form.domain }}</div>
        <div class="col-12 col-md-3 mt-2 mt-md-auto">{{ form.quota }}</div>

      </div>
      <div class="row mt-2">
        <div class="col-12">
          <button
              class="btn btn-outline-primary btn-block"
              type="submit"
          >
            Nuevo usuario
          </button>
        </div>
      </div>
    </form>
    <hr/>
    <div class="row">
      <div class="col-12">
        {% include 'pagination.html' %}
        <table class="table table-hover table-sm">
          <thead class="thead-dark">
          <tr>
            <th>id</th>
            <th>email</th>
            <th>domain</th>
            <th>quota assigned</th>
            <th>quota used</th>
            <th>quota percent</th>
            <th>delete</th>
          </tr>
          </thead>
          <tbody>
          {% for user in object_list %}
            <tr>
              <th>{{ user.id }}</th>
              <td>{{ user.email }}</td>
              <td>{{ user.domain }}</td>
              <td>{{ user.quota }}</td>
              <td>---</td>
              <td>---</td>
              <td>
                <button
                    class="btn btn-outline-danger"
                    type="submit"
                    id="button-delete-{{ user.id }}"
                    onclick="get_modal({{ user.id }},'{{ user.email }}', '{% url 'mail:user_delete' user.id %}', '{{ csrf_token }}')"
                >
                  Eliminar
                </button>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        {% include 'pagination.html' %}
      </div>
    </div>
  </div>
{% endblock %}
{% block js %}
  <script src="{% static 'js/delete_modal.js' %}"></script>
  <script>
    // TODO: arreglar cuando está mal escrito el dominio
    document.getElementById('{{ form.email.auto_id }}').addEventListener('change', e => {
      const domain = document.getElementById('{{ form.domain.auto_id }}').selectedOptions[0].innerHTML
      const re = /^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i;
      if (!e.target.value.match(re))
        e.target.value = `${e.target.value}@${domain}`;
      else{
        const address = e.target.value.split('@')[0];
        e.target.value = `${address}@${domain}`;
      }
    });

    document.getElementById('{{ form.domain.auto_id }}').addEventListener('change', e => {
      const email_input = document.getElementById('{{ form.email.auto_id }}');
      const [address, domain] = email_input.value.split('@');
      email_input.value = `${address}@${e.target.selectedOptions[0].innerHTML}`;
    })
  </script>
{% endblock %}
