[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
ipython = "*"

[packages]
django = {version = '>3.0,<4.0'}
mysqlclient = "*"
graphene-django = "*"
django-filter = "*"
django-graphql-jwt = "*"
django-cors-headers = "*"
passlib = "*"
bcrypt = "*"

[requires]
python_version = "3.8"
