[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
ipython = "*"
autopep8 = "*"

[packages]
django = {version = '>3.0,<4.0'}
mysqlclient = "*"
graphene-django = "*"
django-filter = "*"
django-cors-headers = "*"
passlib = "*"
bcrypt = "*"
requests = "*"
gunicorn = "*"
django-graphql-jwt = "==0.3.1"

[requires]
python_version = "3.7"

[scripts]
migrate = "python manage.py migrate"
gunicorn = "gunicorn ispmailadmin.wsgi --reload --worker-tmp-dir /dev/shm --workers=2 --threads=2 --worker-class=gthread --worker-connections 10 --log-file=- --access-logfile=- -b 127.0.0.1:8000 --env DJANGO_DEPLOY=1"
collectstatic = "python manage.py collectstatic"
