{% extends 'main.html' %}
{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="d-flex justify-content-center">
                <div class="col-12 col-sm-6 col-md-5 ">
                    <div class="card">
                        <h5 class="card-header">Login Chasqui Mailadmin</h5>
                        <div class="card-body">
                            <div class="text-center">
                                {% if validlink %}
                                    <form method="post">
                                        {% csrf_token %}
                                        {{ form.as_p }}
                                        <button class="btn btn-primary" type="submit">Reset Password</button>
                                    </form>
                                {% else %}
                                    El link de reseteo es incorrecto, probablemente por haber sido ya usado
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
