{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <script src="{% static 'fontawesome/js/fontawesome.min.js' %}"></script>
  <script src="{% static 'fontawesome/js/solid.min.js' %}"></script>
{% block head %}
{% endblock %}
{% block title %}
  <title>{{ title }}</title>
{% endblock %}
</head>
<body>
{% if user.is_authenticated %}
  {% include 'navbar.html' %}
{% endif %}

{% block body %}
{% endblock %}

<script src="{% static 'jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
{% block js %}
{% endblock %}
</body>
</html>
