
    <nav class="float-right" aria-label="navigation_Dispositivos">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link"
                       href="?page={{ page_obj.previous_page_number }}"
                       tabindex="-1"
                       aria-disabled="false">Previous</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link" tabindex="-1">
                        Anterior
                    </span>
                </li>
            {% endif %}

            {% if page_obj.number|add:'-4' > 1 %}
                <li>
                    <a href="?page={{ page_obj.number|add:'-5' }}"
                    class="page-link">
                        &hellip;
                    </a>
                </li>
            {% endif %}


            {% for page in page_obj.paginator.page_range %}

                {% if page_obj.number == page %}
                <li class="page-item active" aria-current="page">
                    <span class="page-link">
                        {{ page }}
                        <span class="sr-only">(current)</span>
                    </span>
                </li>
                {% elif page > page_obj.number|add:'-5' and page < page_obj.number|add:'5' %}
                    <li>
                        <a class="page-link" href="?page={{ page }}">
                            {{ page }}
                        </a>
                    </li>

                {% endif %}

            {% endfor %}

            {% if page_obj.paginator.num_pages > page_obj.number|add:'4' %}
                    <li>
                        <a href="?page={{ page_obj.number|add:'5' }}"
                           class="page-link">
                            &hellip;
                        </a>
                    </li>
                {% endif %}

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link"
                       href="?page={{ page_obj.next_page_number }}">
                        Siguiente

                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link"
                       >
                        Siguiente

                    </span>
                </li>
            {% endif %}

        </ul>
    </nav>