{% extends 'main.html' %} 
{% load static %}
{% block head %}
<title>Aliases</title>
{% endblock head %} 
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-5">
      <form 
        action="" 
        id="groups_form" 
        autocomplete="off"
      >
        <div class="input-group">
        <label 
          class="input-group-text"
          for="groups_input">
          Groups
        </label>
        <input
          class="form-control search_input"
          list="groups_datalist"
          id="groups_input"
          placeholder="Search Groups"
          autocomplete="off"
        />
        <datalist id="groups_datalist">
          {% for group in groups %}
          <option value="{{ group }}" />
          {% endfor %}  
        </datalist>
        <button class="btn btn-outline-secondary" type="submit">Go</button>
        <button 
          class="btn btn-outline-primary"
          type="button"
          id="button_add_group"
        >
            <i class="fas fa-plus"></i>
        </button>
        </div>
      </form>
      <form class="mt-4" action="" id="forwards_form" autocomplete="off">
        <div class="input-group">
        <label 
          class="input-group-text"
          for="forwards_input">
          Forwards
        </label>
        <input
          class="form-control search_input"
          list="forwards_datalist"
          id="forwards_input"
          placeholder="Search Forwards"
          autocomplete="off"
        />
        <datalist id="forwards_datalist">
          {% for forward in forwards %}
          <option value="{{ forward }}" />
          {% endfor %}  
        </datalist>
        <button class="btn btn-outline-secondary" type="submit">Go</button>
        <button 
          class="btn btn-outline-primary"
          type="button"
          id="button_add_forward"
        >
            <i class="fas fa-plus"></i>
        </button>
        </div>
      </form>
      
    </div>
    <div class="col-md-7">
    {% if error %}
      <p class="text-center">{{ error.message }}</p>
    {% endif %}
    {% if destinations %}
      
      <h4 class="text-center">
        {% if is_group %}
        Group 
        {% elif is_forward %}
        Forward 
        {% endif %}
        {{ alias.source }}
        <button 
          class="btn btn-outline-danger"
          type="button"
          id="button_delete_alias"
        >
                <i class="fas fa-trash"></i>
        </button>
      </h4>

      
      <table class="table table-sm table-striped">
        <thead>
          <tr>
            <th>Destination</th>
            <th>Actions</th>
            <th>
            <button
                type="button" 
                id="button_new_destination"
                class="btn btn-outline-primary"
                data-bs-toggle="tooltip"
                data-bs-placement="top" 
                title="Add a new Email"
              >
                <i class="fas fa-plus"></i>
              </button>
            </th>
          </tr>
        </thead>
        <tbody>
        {% for destination in destinations %}
          {% if destination != alias.source %}
          <tr>
            <td>{{ destination }}</td>
            <td colspan="2" class="text-center">
              <button 
                class="btn btn-outline-danger btn_remove_dest" 
                type="button"
                destination="{{ destination }}"
              >
                <i class="fas fa-trash"></i>
              </button>
            </td>
          </tr>
          {% endif %}
      {% endfor %}
        </tbody>
      </table>
    {% endif %}
    </div>
  </div>
</div>
{% endblock body %}

{% block js %}
<script src="{% static 'js/find_button.js' %}"></script>
<script src="{% static 'js/validations.js' %}"></script>
<script src="{% static 'js/get_cookie.js' %}"></script>
<script src="{% static 'js/delete_modal.js' %}"></script>
<script>
  const csrftoken = getCookie('csrftoken');
  const groups_form = document.querySelector("#groups_form")
  const forwards_form = document.querySelector("#forwards_form")
  const forwards_input = document.querySelector("#forwards_input")
  const groups_input = document.querySelector("#groups_input")
  
  
  // send the search form
  const search_action = (event) => {
    event.preventDefault();
    parent_form = find_parent('FORM', event.target)
    const input = parent_form.querySelector(".search_input")
    location.href = `{% url 'sys_users:alias_by_domain' view.kwargs.domain_id %}${input.value}`
  }

  forwards_input.onchange = search_action
  groups_input.onchange = search_action
  groups_form.onsubmit = search_action
  forwards_form.onsubmit = search_action

</script>

<script>
const create_modal = (title) => {
  const modal = document.createElement("div");
    modal.id = "modal"
    modal.setAttribute("tabindex", '-1')
    modal.setAttribute('class', 'modal fade')
    modal.setAttribute('aria-hidden', 'true')
    modal.innerHTML = `
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Add a new ${title}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form>
            <div class="modal-body" id="modal_body">
              <input 
                type="text"
                name="source"
                class="form-control"
                id="input_new_group_forward"
                list="emails_datalist"
                autocomplete="off"
                placeholder="{{ current_domain.name }}"
              >
              <datalist id="emails_datalist">

              </datalist>
            </div>
            <div class="modal-footer">
              <button id="button_close" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button id="button_send" type="button" class="btn btn-primary">New ${title}</button>
            </div>
          </form>
        </div>
      </div>
    `.trim();

    const email_input = modal.querySelector('#input_new_group_forward')
    email_input.onfocus = (e) => {
        // Removes the error message
        const error_message = modal_body.querySelector('#error_message');;
        if (error_message){
          e.target.value = "";
          error_message.remove();
        }
    }
    modal.addEventListener('hidden.bs.modal', (event) => {
      event.target.remove()
  })
  return modal
}

const set_modal_error_message = (modal_body, message) => {
  const message_p = document.createElement('p');
  message_p.id = "error_message"
  message_p.classList.add('text-danger');
  message_p.classList.add('text-center');
  message_p.innerHTML = message
  modal_body.appendChild(message_p)
  
  return message_p
}

const get_emails = async() =>{
  // async function to get a list of emails
  const formData = new FormData();
  formData.append('domain_id', '{{ view.kwargs.domain_id }}' )
  formData.append('csrfmiddlewaretoken', csrftoken)
  let email_list = [];
  const options = 
    {
      method: 'POST',
      body: formData 
    }
  await fetch("{% url 'sys_users:get_emails' %}", options)
    .then(response => response.json())
    .then(data => {
      for(element of data){
        email_list.push(element.email);
      }
    });
  return  email_list;
}
</script>

<script>
  const button_add_group = document.querySelector("#button_add_group")
  const button_add_forward = document.querySelector("#button_add_forward")

  // shows a modal to add a group or forward
  const add_group_forward = (event) => {
    let title = "";
    let is_groups = false;
    const form = find_parent("FORM", event.target);
    (form.id === "groups_form") 
      ? is_groups = true 
      : is_groups = false;

    modal = create_modal(is_groups? "group" : "forward");

    const email_input = modal.querySelector("#input_new_group_forward")
    const email_input_list = modal.querySelector("#emails_datalist")
    const button_send = modal.querySelector("#button_send");
    const modal_body = modal.querySelector("#modal_body");
    
    //fixes domain in input
    fix_domain(email_input, "{{ current_domain.name }}");
    
    const bsmodal = new bootstrap.Modal(modal, {backdrop: 'static'});
    
    

    const send_data = (type) => {
      // method to send data to the server
      const formData = new FormData();
      formData.append('source', email_input.value)
      formData.append('domain', '{{ view.kwargs.domain_id }}' )
      formData.append('csrfmiddlewaretoken', csrftoken)
      formData.append('type', type)

      const options = {
        method: 'POST',
        body: formData
      }

      fetch("{% url 'sys_users:add_alias_source' %}", options)
        .then(response => response.json())
        .then(data => {
          if (data.status === "success"){
            location.href = `{% url 'sys_users:alias_by_domain' view.kwargs.domain_id %}${data.comment}`
          }
          else {
            set_modal_error_message(modal_body, data.comment);
          }
        })

    }

    if (is_groups){
      get_emails().
        then(email_list => {
          button_send.onclick = (e) => {
            if (email_list.includes(email_input.value)){
              set_modal_error_message(modal_body, "The given group is an email, can not be a group");
            }
            else{
              send_data('group');
            }
          }
        })
      
    }
    else {
      // if is forward
      email_input.disabled = true;
      
      get_emails()
        .then(email_list => {
          for(email of email_list){
            const option = document.createElement('option');
            option.setAttribute('value', email);
            email_input_list.appendChild(option);
            
          }

          email_input.disabled = false;

          button_send.onclick = (e) => {
            if (email_list.includes(email_input.value)){
              send_data('forward');
            }
            else{
              // adds a message if the email doesn't exists
              set_modal_error_message(modal_body, "The given email doesn't exist");
            }
          }
        })
    }

    bsmodal.show();
  }


  button_add_group.onclick = add_group_forward;
  button_add_forward.onclick = add_group_forward;
</script>

{% if alias %}
<script>
  // delete alias
  const button_delete_alias = document.querySelector('#button_delete_alias');
  button_delete_alias.onclick = (e) => {
    // shows the confirmation modal and deletes the alias
    get_modal("{{ alias.pk }}", "{{ alias.source }}", "{% url "sys_users:remove_alias" view.kwargs.domain_id alias.pk %}", csrftoken )
  }

</script>

<script>
  // TODO:  hacer la funcionalidad de la creacion de las nuevas destinations
  const button_new_destination = document.querySelector("#button_new_destination")

  

  button_new_destination.onclick = (event) => {
    modal = create_modal("destination")
    const email_input = modal.querySelector("#input_new_group_forward")
    const button_send = modal.querySelector("#button_send");
    const modal_body = modal.querySelector("#modal_body");
    const email_input_list = modal.querySelector("#emails_datalist")
    const bsmodal = new bootstrap.Modal(modal, {backdrop: 'static'});

    const send_destination = () => {
      const form_data = new FormData();
      form_data.append('destination', email_input.value);
      form_data.append('csrfmiddlewaretoken', csrftoken);

      const options = {
        method: "POST",
        body: form_data
      }

      fetch('{% url 'sys_users:add_alias_destination' alias.id %}', options)
          .then(response => response.json())
          .then(data => {
            button_send.disabled = false;
            email_input.readOnly = false;
            if (data.status === "success"){
              location.reload();
              return false;
            }
            else{
              set_modal_error_message(modal_body, data.comment);
              }
          });
    }

    {% if is_group %}
      //fixes domain in input
      fix_domain(email_input, "{{ current_domain.name }}");
      email_input.disabled = true;
      
      get_emails()
      .then(email_list => {
        for(email of email_list){
            const option = document.createElement('option');
            option.setAttribute('value', email);
            email_input_list.appendChild(option);
            
        }
        email_input.disabled = false;
        button_send.onclick = (e) => {
          send_destination()
        }    
      })
    {% else %}
      get_emails()
      .then(email_list => {
        for(email of email_list){
            const option = document.createElement('option');
            option.setAttribute('value', email);
            email_input_list.appendChild(option);
            
        }
        email_input.disabled = false;
        button_send.onclick = (e) => {
          button_send.disabled = true;
          email_input.readOnly = true;

          if (validate_email(email_input)){
            send_destination()
          }
          else{
            button_send.disabled = false;
            email_input.readOnly = false;
            set_modal_error_message(modal_body, "It is a not valid Email");
          }
        }    
      })
    {% endif %}

    bsmodal.show()
  }
</script>

<script>
  //Removes a destination 
  //TODO: agregar modal de confirmacion al borrar
  buttons = document.querySelectorAll('.btn_remove_dest')  
  for (del_button of buttons){
    del_button.onclick = (e) => {
      form_data = new FormData()
      form_data.append('csrfmiddlewaretoken', csrftoken);
      btn = find_parent('BUTTON', e.target)
      form_data.append('destination', btn.getAttribute('destination'));
      options = {
        method: 'POST',
        body: form_data
      }
      fetch(`{% url 'sys_users:remove_alias_destination' alias.id %}`, options)
      .then(response => response.json())
      .then(data => {
        if(data.status === "success"){
          location.reload();
          return false;
        }else{
          alert(`error \n ${data.comment}`)
        }
      })
    }
  }
</script>


{% endif %}
{% endblock js %}

