{% extends 'main.html' %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'bootstrap-select/bootstrap-select.min.css' %}">
{% endblock %}

{% block body %}
  <div class="container">

    <div class="row">
      <div class="col-12 {{ request.resolver_match.kwargs.company_id|yesno:"col-lg-8,," }}">
        <div class="col-12 text-center"><h1>Companies Managment</h1></div>
        {% include 'pagination.html' %}
        <table class="table table-hover table-sm">
          <thead class="thead-dark">
          <th>Company</th>
          <th>Company ID</th>
          <th>Domains</th>
          <th>Users</th>
          <th>Actions</th>
          </thead>
          {% for company in object_list %}
            <tr>
              <td>{{ company.name }}</td>
              <td>{{ company.id_number }}</td>
              <td class="small">
                {% for domain in company.domain.all %}
                  {{ domain }}<br/>
                {% endfor %}
              </td>
              <td class="small">
                {% for domainadmin in company.domainadmin_set.all %}
                  {{ domainadmin.user.username }} <br/>
                {% endfor %}
              </td>
              <td class="align-middle text-center">
                <a href="{% url 'sys_users:company' company.id %}" class="btn btn-outline-info"><i
                    class="fas fa-edit"></i></a>
                <button class="btn btn-outline-danger"><i class="fas fa-trash"></i></button>
              </td>
            </tr>
          {% endfor %}
        </table>
        {% include 'pagination.html' %}
      </div>
{#    ----------------------------------------------------------------------------------   #}
      {% if request.resolver_match.kwargs.company_id %}
        <div class="col-lg-4">
          <div class="container-fluid">
            <div class="row">

              <div class="col-10">
                <h2 class='text-center'>{{ company }}</h2>
              </div>

              <div class="col-2">
                <a class="btn btn-outline-secondary" href="{% url 'sys_users:company' %}">
                  <i class="fas fa-times"></i>
                </a>
              </div>
            </div>
            <hr/>
            <div class="row">
              <div class="col-8">
                <h4 class="text-center">Domains</h4>
              </div>
                <div class="col-2">
                <button id="new-domain-btn" class="btn btn-outline-secondary">
                  <i class="fas fa-plus"></i>
                </button>
              </div>
              <div class="col-2">
                <button class="btn btn-outline-secondary">
                  <i class="fas fa-users"></i>
                </button>
              </div>
            </div>
                <form id="new-domain-form" class="row d-none mt-3" action="" method="post">
                  {% csrf_token %}
                  <input type="hidden" name="company_id" value="{{ company.id }}">
                  <input type="hidden" name="form" value="domain">
                  <div class="row">
                    <div class="d-flex col-4 align-items-center">
                      <label class="m-0" for="{{ domain_form.name.auto_id }}">{{ domain_form.name.label }}</label>
                    </div>
                    <div class="col-6">
                      {{ domain_form.name }}
                    </div>
                    <div class="col-2">
                      <button class="btn btn-outline-primary" type="submit">
                        <i class="fas fa-plus"></i>
                      </button>
                    </div>
                  </div>
                </form>

            <div class="row text-danger">{{ domain_form.errors }}</div>
            <div class="row mt-3">
              <table class="table table-sm table-hover">
                <thead class="thead-light">
                <th>Domain</th>
                <th>Delete?</th>
                </thead>
                <tbody>
                {% for domain in company.domain.all %}
                  <tr>
                    <td>{{ domain }}</td>
                    <td class="text-center">
                      <button
                        onclick="get_modal('{{ domain.id }}', '{{ domain.name }}', '{% url 'sys_users:remove_domain' view.kwargs.company_id domain.id %}', '{{ csrf_token }}')"
                        class="btn btn-outline-danger"
                      >
                        <i class="fas fa-trash"></i>
                      </button>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
            <hr>
            <div class="row">
              <div class="col-8">
                <h4 class="text-center">Users</h4>
              </div>
              <div class="col-2">
                <button id="new-user-btn" class="btn btn-outline-secondary" type="button">
                  <i class="fas fa-user-plus"></i>
                </button>
              </div>
              <div class="col-2">
                <button id="chose-user-btn" class="btn btn-outline-secondary" type="button">
                  <i class="fas fa-people-arrows"></i>
                </button>
              </div>
            </div>
            <form id="new-user-form" class="row mt-3 d-none" action="" method="post">
              {% csrf_token %}
              <input type="hidden" name="company_id" value="{{ company.id }}">
              <input type="hidden" name="form" value="user">
              <div class="col-10">
                <div class="row">
                  <div class="col-12">{{ user_form.username }}</div>
                </div>
                <div class="row mt-1">
                  <div class="col-6">{{ user_form.password1 }}</div>
                  <div class="col-6">{{ user_form.password2 }}</div>
                </div>
              </div>
              <div class="d-flex col-2 align-items-center justify-content-center">
                <button class="btn btn-outline-primary" type="submit">
                  <i class="fas fa-plus"></i>
                </button>
              </div>
            </form>
            <div class="row text-danger">{{ user_form.errors }}</div>
            <div class="row mt-3">
                <table class="table table-sm table-hover">
                  <thead class="thead-light">
                  <th>Username</th>
                  <th>delete?</th>
                  </thead>
                  <tbody>
                  {% for user in company.domainadmin_set.all %}
                    <tr>
                      <td>{{ user }}</td>
                      <td class="text-center">
                        <button
                        onclick="get_modal('{{ user.user.pk }}', '{{ user.user.username }}', '{% url 'sys_users:remove_user' view.kwargs.company_id user.user.id %}', '{{ csrf_token }}')"
                        class="btn btn-outline-danger"
                      >
                        <i class="fas fa-trash"></i>
                      </button>
                      </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block js %}
  {% if request.resolver_match.kwargs.company_id %}
  <script>
    const toggle_block = (button, block) => {
      button.addEventListener("click", () => {
        block.classList.toggle('d-none');
        button.classList.toggle('btn-secondary');
        button.classList.toggle('btn-outline-secondary');
      })
    };
    toggle_block(document.getElementById('new-user-btn'), document.getElementById('new-user-form'));
    toggle_block(document.getElementById('new-domain-btn'), document.getElementById('new-domain-form'))
  </script>
    <script src="{% static 'js/delete_modal.js' %}"></script>
  {% endif %}
{% endblock %}
