{% extends 'main.html' %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-12">
        <div class="list-group list-group-horizontal-lg flex-fill">
          {% for company in companies %}
            <a
                href="{% url 'sys_users:email_by_domain' company.id %}"
                class="list-group-item list-group-item-action"
            >
              {{ company.name }}
            </a>
          {% endfor %}
        </div>
      </div>
    </div>
    {% if domains %}
    <div class="row mt-5">
      <div class="col-12 col-lg-3">
        <div class="list-group">
          {% for domain in domains %}
            {% if view.kwargs.company_id %}
            <a href="{% url 'sys_users:email_by_domain' view.kwargs.company_id domain.id %}"
            {% else %}
            <a href="{% url 'sys_users:email_by_domain' '0' domain.id %}"
            {% endif %}
              class="list-group-item list-group-item-action"
            >

              {{ domain }}
            </a>
          {% endfor %}
        </div>
      </div>
      <div class=" col-12 col-lg-9">
      {% include 'pagination.html' %}
        <table class="table table-sm table-hover">
          <thead class="thead-dark">
          <th>Email</th>
          <th>Domain</th>
          <th>Quota</th>
          <th>Quota Used</th>
          <th>actions</th>
          </thead>
          <tbody class="small">
            {% for email in object_list %}
              <tr>
                <th>{{ email }}</th>
                <td>{{ email.domain }}</td>
                <td>{{ email.quota }}</td>
                <td>--</td>
                <td>
                  <button class="btn btn-outline-primary" type="submit">
                    <i class="fas fa-edit"></i>
                  </button>
                  <button class="btn btn-outline-danger" type="submit">
                    <i class="fas fa-trash"></i>
                  </button>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% include 'pagination.html' %}
      </div>
    </div>
    {% endif %}
  </div>
{% endblock %}
