{% extends 'main.html' %}
{% load static %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-12">
        <div class="list-group list-group-horizontal-lg flex-fill">
          {% for company in companies %}
            <a
                href="{% url 'sys_users:email_by_domain' company.id %}"
                class="list-group-item list-group-item-action"
            >
              {{ company.name }}
            </a>
          {% endfor %}
        </div>
      </div>
    </div>
    {% if domains %}
    <div class="row mt-5">
      <div class="col-12 col-lg-3">
        <div class="list-group">
          {% for domain in domains %}
            <a
            {% if view.kwargs.company_id %}
              href="{% url 'sys_users:email_by_domain' view.kwargs.company_id domain.id %}"
            {% else %}
              
              href="{% url 'sys_users:email_by_domain' '0' domain.id %}"
            {% endif %}
              class="list-group-item list-group-item-action"
            >

              {{ domain }}
            </a>
          {% endfor %}
        </div>
      </div>
      <div class=" col-12 col-lg-9">
      {% include 'pagination.html' %}
        <form action="" method="get">
        <table class="table table-sm table-hover">
          <thead class="thead-dark">
          <th id="email">
            <span>Email</span>
            <a href="#" class="search-button">
              <i class="ml-3 fas fa-search"></i>
            </a>
          </th>
          <th>Domain</th>
          <th>Quota</th>
          <th>Quota Used</th>
          <th>actions</th>
          </thead>
          <tbody class="small">
            {% for email in object_list %}
              <tr>
                <th>{{ email }}</th>
                <td>{{ email.domain }}</td>
                <td>{{ email.quota }}</td>
                <td>--</td>
                <td>
                  <button class="btn btn-outline-primary" type="submit">
                    <i class="fas fa-edit"></i>
                  </button>
                  <button
                      {% if view.kwargs.company_id %}
                      onclick="get_modal('{{ email.pk }}', '{{ email.email }}', '{% url 'sys_users:remove_email' view.kwargs.company_id email.domain.pk email.pk %}', '{{ csrf_token }}')"
                      {% else %}
                      onclick="get_modal('{{ email.pk }}', '{{ email.email }}', '{% url 'sys_users:remove_email' '0' email.domain.pk email.pk %}', '{{ csrf_token }}')"
                      {% endif %}
                      class="btn btn-outline-danger" type="button">
                    <i class="fas fa-trash"></i>
                  </button>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        </form>
      {% include 'pagination.html' %}
      </div>
    </div>
    {% endif %}
  </div>
{% endblock %}

{% block js %}
  <script src="{% static 'js/delete_modal.js' %}"></script>
  <script src="{% static 'js/search.js' %}"></script>
{% endblock %}
