{% extends 'main.html' %}
{% load static %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-12">
        <div class="list-group list-group-horizontal-lg flex-fill">
          {% for company in companies %}
            <a
                href="{% url 'sys_users:email_by_domain' company.id %}"
                class="list-group-item list-group-item-action"
            >
              {{ company.name }}
            </a>
          {% endfor %}
        </div>
      </div>
    </div>
    {% if domains %}
    <div class="row mt-5">
      <div class="col-12 col-lg-3">
        <div class="list-group">
          {% for domain in domains %}
            <a
            {% if view.kwargs.company_id %}
              href="{% url 'sys_users:email_by_domain' view.kwargs.company_id domain.id %}"
            {% else %}

              href="{% url 'sys_users:email_by_domain' '0' domain.id %}"
            {% endif %}
              class="list-group-item list-group-item-action"
            >
              {{ domain }}
            </a>
          {% endfor %}
        </div>
      </div>
      <div class="mt-3 mt-lg-0 col-12 col-lg-9">
      {% include 'pagination.html' %}
        <form action="" method="get">
        <table class="table table-sm table-hover">
          <thead class="thead-dark">
            <th id="email">
              <span>Email</span>
              <a href="#" class="search-button">
                <i class="ml-3 fas fa-search"></i>
              </a>
            </th>
            <th>Domain</th>
            <th>Quota</th>
            <th>Quota Used</th>
            <th><span>actions</span></th>
            <th><a href="#" class="" data-toggle="modal" data-target="#NewEmailModal"><i class="fas fa-plus-square"></i></a></th>
          </thead>
          <tbody class="small">
            {% for email in object_list %}
              <tr>
                <th>{{ email }}</th>
                <td>{{ email.domain }}</td>
                <td>{{ email.quota }}</td>
                <td>--</td>
                <td colspan="2">
                  <button
                      class="btn btn-outline-primary"
                      type="button"
                      onclick="edit_email('{{ email.pk }}', '{% url 'virtual:user_detail_json' email.pk %}', '{{ csrf_token }}')"
                  >
                    <i class="fas fa-edit"></i>
                  </button>
                  <button
                      {% if view.kwargs.company_id %}
                      onclick="get_modal('{{ email.pk }}', '{{ email.email }}', '{% url 'sys_users:remove_email' view.kwargs.company_id email.domain.pk email.pk %}', '{{ csrf_token }}')"
                      {% else %}
                      onclick="get_modal('{{ email.pk }}', '{{ email.email }}', '{% url 'sys_users:remove_email' '0' email.domain.pk email.pk %}', '{{ csrf_token }}')"
                      {% endif %}
                      class="btn btn-outline-danger" type="button">
                    <i class="fas fa-trash"></i>
                  </button>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        </form>
      {% include 'pagination.html' %}
      </div>
    </div>
    {% endif %}
  </div>

  <!-- Modal -->
  <div class="modal fade" id="NewEmailModal" tabindex="-1" role="dialog" aria-labelledby="NewEmailModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="NewEmailModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="">
          <div class="container-fluid">
              <div class="modal-body">
                <input type="hidden" name="domain" value="{{ current_domain.id }}">
                <div class="row mb-3">
                    <div class="col-3">
                      <label for="{{ view.email_form.email.auto_id }}">Email:</label>
                    </div>
                    <div class="col-9">
                      {{ view.email_form.email }}
                    </div>
                </div>
                <div class="row mb-3">
                  <div class="col-3">
                    <label for="{{ view.email_form.password.auto_id }}">Password:</label>
                  </div>
                  <div class="col-9">
                    {{ view.email_form.password }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-3">
                    <label for="{{ view.email_form.quota.auto_id }}">Quota:</label>
                  </div>
                  <div class="col-9">
                    {{ view.email_form.quota }}
                  </div>
                </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}

{% block js %}
  <script src="{% static 'js/delete_modal.js' %}"></script>
  <script src="{% static 'js/search.js' %}"></script>
  <script>
    const edit_email = (id, url, csrf_token) => {
      $('.modal').remove();

      let email = null;
      let quota = null;
      let password = null;

      fetch(url)
        .then(response => response.json())
        .then(data => {
            email = data.email;
            quota = data.quota;
            password = data.password;
        });

      const modal = document.createElement('div');
      modal.setAttribute('id', `modal-${id}`);
      modal.setAttribute('tabindex', '-1');
      modal.setAttribute('role', 'dialog');
      modal.setAttribute('aria-labelledby', "ModalLabel");
      modal.setAttribute('aria-hidden', "true");
      modal.classList.add("modal", "fade");

      modal.innerHTML = `
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="ModalLabel">Editing ${email}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form method="post" action="${url}">

              <div class="modal-body">
                <input type="text" type="pasword" name="password" value="">
                <input type="text" name="password" value="">
              </div>
              <div class="modal-footer">
                  <input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}">
                  <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-outline-primary">Delete</button>
              </div>
            </form>
          </div>
        </div>
      `.trim();

      $(modal).on('hidden.bs.modal', function () {
                $(this).remove();
            }).modal('show');

    };

    // arregla el email le coloca el dominio correspondiente
    document.getElementById('{{ view.email_form.email.auto_id }}').addEventListener('change', e => {
      const domain = "{{ current_domain.name }}";
      const re = /^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i;
      if (!e.target.value.match(re))
        e.target.value = `${e.target.value}@${domain}`;
      else{
        const address = e.target.value.split('@')[0];
        e.target.value = `${address}@${domain}`;
      }
    });
  </script>
{% endblock %}
