{% extends 'main.html' %}
{% load static %}
{% load conversion_tags %}

{% block head %}
  <title>Users by domain</title>
{% endblock %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-12">
        <div class="list-group list-group-horizontal-lg flex-fill">
          {% for company in companies %}
            <a
                href="{% url 'sys_users:email_by_domain' company.id %}"
                class="list-group-item list-group-item-action"
            >
              {{ company.name }}
            </a>
            <span class="list-group-item">
              {{ company.get_percnet_used_quota }}%
            </span>
          {% endfor %}
        </div>
      </div>
    </div>
    {% if domains %}
    <div class="row mt-5">
      <div class="col-12 col-lg-3">
        <div class="list-group">
          {% for domain in domains %}
            <a 
            {% if view.kwargs.company_id %}
              href="{% url 'sys_users:email_by_domain' view.kwargs.company_id domain.id %}"
            {% else %}
              href="{% url 'sys_users:email_by_domain' '0' domain.id %}"
            {% endif %}
              
            {% if domain.id == view.kwargs.domain_id %}
              class="list-group-item list-group-item-action bg-dark text-light"
            {% else %}
              class="list-group-item list-group-item-action"
            {% endif %}
            >
              {{ domain }}
            </a>
          {% endfor %}
        </div>
      </div>
      <div class="mt-3 mt-lg-0 col-12 col-lg-9">
      {% include 'pagination.html' %}
        <form action="" method="get">
        <table class="table table-sm table-hover">
          <thead class="thead-dark align-middle">
            <th id="email">
              <span>Email</span>
              <a href="#" class="search-button">
                <i class="ml-3 fas fa-search"></i>
              </a>
            </th>
            <th>Domain</th>
            <th>Quota Assigned</th>
            <th>Quota Used</th>
            <th><span>actions</span></th>
            <th>
              <button
                type="button" 
            {% if view.kwargs.domain_id %}
                id="btn_new_email"
                class="btn btn-outline-primary"
                data-bs-toggle="tooltip"
                data-bs-placement="top" 
                title="Add a new Email"
            {% else %}
                class="btn btn-secondary"
                data-bs-toggle="tooltip"
                data-bs-placement="top" 
                title="Select a domain first"
            {% endif %}
              ><i class="fas fa-plus"></i>
              </button>
            </th>
          </thead>
          <tbody class="small">
            {% for email in object_list %}
              <tr>
                <th>{{ email }}</th>
                <td>{{ email.domain }}</td>
                <td>{{ email.quota | btogb:True }}</td>
                <td class="small">
                  {{ email.quota_used | kbtogb | floatformat:4 }} GB <br>
                  {{ email.quota_percent}}%
                </td>
                <td colspan="2">
                  <button
                      class="btn btn-outline-primary"
                      type="button"
                      onclick="edit_email('{{ email.pk }}', '{% url 'virtual:user_detail_json' email.pk %}')"
                      id = "{{ email.pk }}"
                      geturl = "{% url 'virtual:user_detail_json' email.pk %}"
                      {% if view.kwargs.company_id %}
                      editurl="{% url 'sys_users:update_email' view.kwargs.company_id email.domain.pk email.pk %}"
                      {% else %}
                      editurl="{% url 'sys_users:update_email' '0' email.domain.pk email.pk %}"
                      {% endif %}
                      
                  >
                    <i class="fas fa-edit"></i>
                  </button>
                  <button
                      {% if view.kwargs.company_id %}
                      onclick="get_modal('{{ email.pk }}', '{{ email.email }}', '{% url 'sys_users:remove_email' view.kwargs.company_id email.domain.pk email.pk %}', '{{ csrf_token }}')"
                      {% else %}
                      onclick="get_modal('{{ email.pk }}', '{{ email.email }}', '{% url 'sys_users:remove_email' '0' email.domain.pk email.pk %}', '{{ csrf_token }}')"
                      {% endif %}
                      class="btn btn-outline-danger" type="button">
                    <i class="fas fa-trash"></i>
                  </button>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        </form>
      {% include 'pagination.html' %}
      </div>
    </div>
    {% endif %}
  </div>
  
  {% if view.kwargs.domain_id %}
  <!-- Modal -->
  <div class="modal fade" id="EmailModal" tabindex="-1" aria-labelledby="EmailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="EmailModalLabel"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="" method="post" autocomplete="off">
        {% csrf_token %}
          <div class="container-fluid">
              <div class="modal-body">
                <input type="hidden" name="domain" value="{{ current_domain.id }}">
                <div class="row mb-3">
                    <input id="username" style="display:none" type="text" name="fakeusernameremembered">
                    <input id="password" style="display:none" type="password" name="fakepasswordremembered">
                    <div class="col-2">
                      <label for="{{ view.email_form.email.auto_id }}">
                      Email:
                      </label>
                    </div>
                    <div class="col-10">
                      {{ view.email_form.email }}
                    </div>
                </div>
                <div class="row mb-3">
                  <div class="col-2">
                    <label for="{{ view.email_form.password.auto_id }}">Password:</label>
                  </div>
                  <div class="col-8">
                    {{ view.email_form.password }}
                    <input type="checkbox" name="show_password" id="check_show_password">
                    Show password 
                  </div>
                  <div class="col-2">
                    <button type="button" class="btn btn-block btn-info" id="btn_gen_password">Generate Password</button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-2">
                    <label for="{{ view.email_form.quota.auto_id }}">Quota:</label>
                  </div>
                  <div class="col-10">
                    {{ view.email_form.quota }}
                  </div>
                </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button id="btn_save_new_mail" type="button" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  

  {% endif %}
{% endblock %}

{% block js %}
  <script src="{% static 'js/delete_modal.js' %}"></script>
  <script src="{% static 'js/search.js' %}"></script>
  <script src="{% static 'js/pwgen.js' %}"></script>

  <script>
      var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
      var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
      })
  </script>
  
  <script>
    // open the modal and execute some things 
    const mail_modal = document.querySelector('#EmailModal');
    //identifing the elemts
    const modal_title = mail_modal.querySelector('#EmailModalLabel');
    const modal_form = mail_modal.querySelector('form');
    const save_button = mail_modal.querySelector('#btn_save_new_mail');
    const email_input = mail_modal.querySelector('#{{ view.email_form.email.auto_id  }}');
    const password_input = mail_modal.querySelector('#{{ view.email_form.password.auto_id  }}');
    const quota_input = mail_modal.querySelector('#{{ view.email_form.quota.auto_id  }}');
    const check_show_password = mail_modal.querySelector('#check_show_password');
    
    //get default save button HTML
    default_save_button_html = save_button.innerHTML;

    //identifing the modal
    const modal_bootstrap = new  bootstrap.Modal(mail_modal);

    
  </script>


  <script>
   
    btn_new_email.onclick = () => {
      modal_title.innerHTML = "New Email";
      check_show_password.checked = false;
      modal_form.id = "new_email_form"
      email_input.value = "";
      email_input.removeAttribute('readonly');
      email_input.classList.remove("form-control-plaintext");
      email_input.classList.add("form-control");
      password_input.value = "";
      modal_bootstrap.show();
      
    };

    // fixes the email putting the corresponding domain
    document.getElementById('{{ view.email_form.email.auto_id }}')
      .addEventListener('change', e => {
        const domain = "{{ current_domain.name }}";
        const re = /^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i;
        if (e.target.value == `@${domain}`){
          e.target.value = `@${domain}`;
        }
        else if (!e.target.value.match(re))
          e.target.value = `${e.target.value}@${domain}`;
        else{
          const address = e.target.value.split('@')[0];
          e.target.value = `${address}@${domain}`;
        }
      });
    check_show_password.onclick = (event) => {
      //let password_input = document.getElementById('{{ view.email_form.password.auto_id }}')
      if ({{ view.email_form.password.auto_id }}.type === "password"){
        {{ view.email_form.password.auto_id }}.type = "text";
      }
      else {
        {{ view.email_form.password.auto_id }}.type = "password";
      }
    };
    btn_gen_password.onclick = () => {
      {{ view.email_form.password.auto_id }}.value = pwgen(15);
      {{ view.email_form.password.auto_id }}.type = "text";
      check_show_password.checked = true;
    };
    
    
  </script>

  <script>
    // function to edit emails
    let update_url = '';
    let update_id = null;
    const edit_email = (id, url) => {
      let email = null;
      let quota = null;
      
      modal_form.id = "edit_email_form"

      update_url = document.getElementById(`${id}`).getAttribute('editurl');

      email_input.setAttribute('readonly', true);
      password_input.value = "";
      update_id = id; 

      fetch(url)
        .then(response => response.json())
        .then(data => {
            modal_title.innerHTML = `Edit <b>${data.email}</b>`;
            //filing data
            
            email_input.value = data.email;
            email_input.classList.add("form-control-plaintext");
            email_input.classList.remove("form-control");
            quota_input.value = data.quota / 1073741824;

        });

      //showing modal
      modal_bootstrap.show();
    };
  </script>
  
  <script>
  const change_button_to_spin = (button) => {
    button.setAttribute('disabled', true);
    button.innerHTML = `
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    `;
  }
  const restore_button_to_default = (button) => {
    button.removeAttribute('disabled');
    button.innerHTML = default_save_button_html;
  }
  
  const save_function = (event) => {
    change_button_to_spin(save_button);

    let url = "";
    let form_data = new FormData(modal_form);
    console.log(event.target);

    if (modal_form.id == "new_email_form"){ // new user
      if (password_input.value != ""){
        url = "{% url 'sys_users:add_email' view.kwargs.company_id view.current_domain.id|yesno:'current_domain.id,0' %}";
      }
      else{
        alert("password must not be empty");
        restore_button_to_default(save_button);
      }
    }
    else if(modal_form.id=="edit_email_form"){ //edit user
      url = update_url;
      form_data.append('id', update_id);
      for ($i of form_data.entries()){
        console.log($i);
      }
    }
    else{
      url = "";
    }
    
    fetch(url, {method: 'POST', body: form_data})
    .then(response=>response.json())
    .then(data=>{
      save_button.removeAttribute('disabled')
      console.log(data);
      if (data.status == 'success'){
        window.location.reload(false);
        }
      else {
        alert(`Error: ${data.comment}`)
      }
      save_button.innerHTML = 'Save changes';
    });

  }

  save_button.addEventListener('click', save_function)
  </script>
  
  
{% endblock %}
